{% extends "design.html" %}
{% block body %}

<div id="mains">
<p>Dayananda Sagar Academy of Technology and Management (TC) is approved by 
  All India Council for Technical Education (AICTE), Govt. of India and affiliated to
   Visvesvaraya Technological University. It has widest choice of Engineering Branches having 6 
   Under Graduate Courses, B. Architecture & MBA programs.</p>


<p> <h3>VISION:</h3>
    To strive at creating the institution a center of highest caliber of learning, 
    so as to create an overall intellectual atmosphere with each deriving strength from the 
    other to be the best of engineers, scientists with management & design skills.<br></p>

   <h3>MISSION:</h3>
    <ul>
    <li>To serve its region, state, the nation and globally by preparing students to make meaningful contributions in an increasing complex global society challenges.</li>
    <li>To encourage, reflection on and evaluation of emerging needs and priorities with state of art infrastructure at institution</li>
    <li>To support research and services establishing enhancements in technical, health, economic, human and cultural development.</li>
    <li>To establish inter disciplinary center of excellence, supporting/ promoting student’s implementation.</li>
    <li>To increase the number of Doctorate holders to promote research culture on campus.</li>
    <li>To establish IIPC, IPR, EDC, innovation cells with functional MOU’s supporting student’s quality growth.</li></ul></p>

    <p><h3>QUALITY POLICY:</h3>
    “We, at “Dayananda Sagar Academy of Technology and Management” are committed to continually improve and deliver competitive quality technical education to the at most satisfaction of student, their parents and potential employer.”</p>    

<p><a href="https://www.dsatm.edu.in/">Dayanand Sagar Academy of Technology and Management (DSATM)</a></p><br>

<img src="{{ url_for('static', filename='images/college1.png') }}" width="600" height="300" alt="DSATM">
<img src="{{ url_for('static', filename='images/dsatm.png') }}" width="600" height="300" alt="DSATM"><br>
<br>
<img src="{{ url_for('static', filename='images/college2.png') }}" width="600" height="300" alt="DSATM">
<img src="{{ url_for('static', filename='images/college3.png') }}" width="600" height="300" alt="DSATM">
<br><br>


</div>

{% endblock %}