{% extends "design.html" %}
{% block body %}


  <br><br>
  <h1>Welcome Back Jennifer nd Harshitha !!!</h1>
  <br>
  <h3>Hope you had a good day.</h3>
  <br>

  <div id="list-example" class="list-group">
    <a class="list-group-item list-group-item-action" href="/displaypersonal">Display Personal Information</a>
    <a class="list-group-item list-group-item-action" href="/displayrooms">Display Rooms</a>
    <a class="list-group-item list-group-item-action" href="/contactdetails">Contact Details</a>
  </div>
  {% endblock %} 