{% extends "design.html" %}
{% block body %}
<br>

<img src="{{ url_for('static', filename='images/image1.png') }}" width="600" height="300" alt="DSATM">
<img src="{{ url_for('static', filename='images/image2.png') }}" width="600" height="300" alt="DSATM"><br><br>

<img src="{{ url_for('static', filename='images/image3.png') }}" width="600" height="300" alt="DSATM">
<img src="{{ url_for('static', filename='images/image4.png') }}" width="600" height="300" alt="DSATM"><br><br>

<img src="{{ url_for('static', filename='images/image5.png') }}" width="600" height="300" alt="DSATM">
<img src="{{ url_for('static', filename='images/image6.png') }}" width="600" height="300" alt="DSATM"><br><br>

<img src="{{ url_for('static', filename='images/image7.png') }}" width="600" height="300" alt="DSATM">
<img src="{{ url_for('static', filename='images/image8.png') }}" width="600" height="300" alt="DSATM"><br><br>

<img src="{{ url_for('static', filename='images/image9.png') }}" width="600" height="300" alt="DSATM">
<img src="{{ url_for('static', filename='images/image10.png') }}" width="600" height="300" alt="DSATM"><br><br>

<img src="{{ url_for('static', filename='images/image11.png') }}" width="600" height="300" alt="DSATM">
<img src="{{ url_for('static', filename='images/image12.png') }}" width="600" height="300" alt="DSATM"><br><br>

<br><br>
  {% endblock %} 